.initial-section {
    background-image: url(./assets/banner.jpg);
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.initial-content {
    width: 50%;
    height: 50%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.initial-content h1 {
    line-height: 40px;
    color: white;
}

.initial-content a {
    margin-top: 30px;
    font-size: 1.6rem;
    color: white;
    width: 150px;
    text-align: center;
    padding: 10px;
    border: solid 1px white;
    border-radius: 30px;
    transition: 150ms;
}

.initial-content a:hover {
    background-color: white;
    color: rgb(40, 40, 40);
}

/*querys*/
@media screen and (min-width: 1450px) {
    .initial-content {
        margin-left: 20%;
    }

    .initial-content h1 {
        font-size: 7rem;
        line-height: 60px;
    }
}